.page-header
  = link_to new_wheat_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Wheat
  %h1 Listing wheats

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - (1..10).each do |x|
        %tr
        - (1..10).each do |y|
          %td
            ="X: #{x}, Y: #{y}"
